@charset "UTF-8";

html { 
    background-color: black;
    height: 100%;
}

#pageHeader { 
    float: right;
    padding: 15px 20px 0 0;
    width: 72%;
}

h1 {
    font-family: 'Droid Sans', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    margin: 5px 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid black; 
}

h2 {
    font-family: 'Droid Sans', sans-serif;
    font-weight: 700;
}

body {
    margin: auto; 
    color: black; 
    width: 80%; 
    max-width: 1200px;
    -moz-min-width: 1080px;
    -ms-min-width: 1080px;
    -o-min-width: 1080px;
    -webkit-min-width: 1080px;
    min-width: 1080px;
    height: 100%;
    padding: 60px 20px 20px;
    background: #ccc491; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjYzQ5MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY2JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2M0OTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ccc491 0, #ffffff 66%, #ccc491 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#ccc491), color-stop(66%,#ffffff), color-stop(100%,#ccc491)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ccc491 0,#ffffff 66%,#ccc491 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ccc491 0,#ffffff 66%,#ccc491 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ccc491 0,#ffffff 66%,#ccc491 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ccc491 0,#ffffff 66%,#ccc491 100%); /* W3C */
    -moz-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccc491', endColorstr='#ccc491',GradientType=0 );
    -o-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccc491', endColorstr='#ccc491',GradientType=0 );
    -webkit-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccc491', endColorstr='#ccc491',GradientType=0 );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccc491', endColorstr='#ccc491',GradientType=0 ); /* IE6-8 */
}

#mainNav {
    float: left;
    height: 100%;
    width: 23%;
}

#mainNav nav h3 {
    padding: 10px 5px;
    margin: 0;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 4px #00215a;
    -ms-box-shadow: 4px 4px 4px #00215a;
    box-shadow: 4px 4px 4px #00215a;
    font-family: 'Droid Sans', sans-serif;
    color: white;
    text-align: center;
    background: #00549f;
}

#subNav {
    background-color: #ccc491;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 4px #7c7441;
    -ms-box-shadow: 4px 4px 4px #7c7441;
    box-shadow: 4px 4px 4px #7c7441;
    margin-top: 20px;
    margin-left: 18px;
}

ul {
    margin: 0;
    padding: 15px 10px;
    list-style: none;
}

a {
    color: black;
    font-weight: bold;
    display: block;
    text-decoration: none;
    padding: 10px;
}

a:hover {
    color: #00549f;
}

.inlineNav ul ul {
    display: none; 
    position: absolute; 
    top: 100%; 
    padding: 0;
}

.inlineNav ul li:hover > ul {
    display: block;
}

.inlineNav ul li:hover > ul a {
    width: 85px;
}

.inlineNav ul {
    position: relative; 
    display: block;
    padding: 15px 0 0;
    -moz-min-width: 720px;
    -ms-min-width: 720px;
    -o-min-width: 720px;
    -webkit-min-width: 720px;
    min-width: 720px;
}

.inlineNav ul:after {
    content: ""; 
    clear: both; 
    display: block;
}

.inlineNav ul li {
    float: left;
}

.inlineNav ul ul li {
    float: none; 
    position: relative;
    margin: 5px 0 0 0;
}

.subButton {
    -ms-border-radius: 5px;
    border-radius: 5px;
    background-color: #00549f;
    color: white;
    -webkit-box-shadow: 4px 4px 4px #00215a;
    -ms-box-shadow: 4px 4px 4px #00215a;
    box-shadow: 4px 4px 4px #00215a;
    margin: 0 5px;
}

.subButton:hover {
    background-color: #ccc491;
    color: #000000;
    -webkit-box-shadow: 4px 4px 4px #7c7441;
    -ms-box-shadow: 4px 4px 4px #7c7441;
    box-shadow: 4px 4px 4px #7c7441;
}

#articleContent { 
    float: right;
    width: 72%;
    padding: 15px 20px 0 0;
}

.messageLabel {
    color: red;
    font-weight: 600;
}