
#pageContent_pageContentSub_commentTextBox {
    margin-top: 20px;
    width: 90%;
    height: 200px;
}

#pageContent_pageContentSub_addCommentButton {
    display: block;
    float: right;
    margin: 20px 10% 0 0 ;
}
