table {
    margin-top: 25px;
    -webkit-box-shadow: 4px 4px 4px #7c7441;
    -ms-box-shadow: 4px 4px 4px #7c7441;
    box-shadow: 4px 4px 4px #7c7441;
    border: none;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

th:last-child {
    -webkit-box-shadow: 4px 0px 2px #00215a;
    -ms-box-shadow: 4px 0px 2px #00215a;
    box-shadow: 4px 0px 2px #00215a;
    -ms-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    border-right: none;
}

th:first-child {
    -ms-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    border-left: none;
}

th {
    background-color: #00549f;
    border: 1px solid #00215a;
    border-top: none;
    font-size: .8em;
    color: white;
    padding: 8px;
 }

td {
    background-color: #ddd5a2;
    border: 1px solid #7c7441;
    text-align: center;
    font-size: .8em;
    line-height: 50%;
    padding: 0 8px;
}

td span {
    margin: 10px 0;
}

td:first-child {
    border-left: none;
}

tr:last-child td {
    border-bottom: none;
}

tr:last-child td:first-child {
    -ms-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

tr:last-child td:last-child {
    -ms-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

td a {
    display: inline-block;
    margin: 0 -10px;
}